mat-grid-tile {
  background-size: cover;
  background-position: center;
  font-size: 22px;
  font-weight: bold;
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
  gap: 22px;
}

.tile-background {
  background: url("/assets/images/background_grid.jpg");
  background-size: cover;
  background-position: top;
}
