<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  (selectedTabChange)="selectedCategory = $event.tab.textLabel"
>
  <mat-tab label="wszystkie"></mat-tab>
  <mat-tab label="imprezy firmowe"></mat-tab>
  <mat-tab label="imprezy prywatne"></mat-tab>
  <mat-tab label="imprezy plenerowe"></mat-tab>
  <mat-tab label="prezentacje"></mat-tab>
</mat-tab-group>

<lightgallery [settings]="lightGallerySettings" [onInit]="onLightGalleryInit">
  <a
    *ngFor="let item of filteredImages"
    class="gallery-item"
    [attr.data-lg-size]="item.imageSize"
    [attr.href]="item.imageUri"
  >
    <img [src]="item.thumbnailUri" />
  </a>
</lightgallery>
