.swiper-slide img {
  display: block;
  width: 100%;
}

// initial state before animation is triggered
.swiper-slide h1,
button {
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--mat-sys-on-primary);
}

.slide-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .overlay-container {
    width: 1200px;
    margin-bottom: 10%;
  }
}

.overlay {
  color: var(--mat-sys-on-primary);
  &.handset {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

h1 {
  font-size: 2em;
  &.handset {
    font-size: 1.5em;
  }
}
