<div class="heroSwiper">
  <div class="swiper-wrapper">
    @for(image of images; track image; let i = $index) {
    <div
      class="swiper-slide slide-container"
      [style.backgroundImage]="'url(' + image.uri + ')'"
    >
      <div class="overlay-container">
        <mdlv-slider-overlay
          [isHandset]="isHandset"
          [text]="image.text"
          [animationState]="activeSlideIndex === i ? '*' : 'void'"
        ></mdlv-slider-overlay>
      </div>
    </div>

    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination slideshow-pagination"></div>
</div>
