<div class="offer-banner-container" [class.handset]="isHandset">
  <div class="offer-banner-logo-container">
    <img
      src="/assets/icons/mdlv_logo.svg"
      alt="Logo"
      class="offer-banner-logo"
    />
  </div>
  <div class="offer-banner-text-primary">
    Twoje Wydarzenie<br />
    w Nowym Świetle
  </div>
  <div class="offer-banner-text-secondary-container">
    <div class="offer-banner-text-secondary" [class.handset]="isHandset">
      {{ textSecondary }}
    </div>
  </div>
</div>
