.offer-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("/assets/images/background_1.jpg");
  background-size: cover;
  background-position: center;
  &.handset {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.offer-banner-text {
  font-weight: 700;
  text-align: center;
  font-size: 72px;
  color: white;
  &.handset {
    font-size: 32px;
  }
}

.offer-banner-text-secondary {
  font-weight: 300;
  font-size: 24px;
  color: white;
  &.handset {
    font-size: 16px;
  }
}
.offer-banner-logo {
  width: 150px;
  height: 150px;
  background-image: url("/assets/icons/mdlv_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.handset {
    width: 100px;
    height: 100px;
  }
}
