.offer-banner-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}

.offer-banner-text {
  font-weight: 700;
  line-height: 1.25em;
  text-align: center;
  font-size: 72px;
}

.offer-banner-text-secondary {
  font-weight: 300;
  font-size: 40px;
}
