@use "src/styles/layouts.scss" as layouts;

.offer-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
  &.handset {
    padding-top: 32px;
  }
}

.offer-banner-text-primary {
  font-family: "Goldman";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  color: var(--mat-sys-secondary);
  margin-top: 50px;
  margin-bottom: 30px;
  &.handset {
    font-size: 32px;
  }
}

.offer-banner-text-secondary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--mat-sys-surface-bright);
  padding-top: 50px;
  padding-bottom: 50px;
}

.offer-banner-text-secondary {
  max-width: layouts.$content-width;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: var(--mat-sys-on-surface);
  &.handset {
    font-size: 16px;
  }
}

.offer-banner-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("/assets/images/logo_bg.jpg");
  background-size: cover;
  background-position: center;
}

.offer-banner-logo {
  width: 150px;
  height: 150px;
  &.handset {
    width: 100px;
    height: 100px;
  }
}
