mat-card {
  background-color: transparent;
  box-shadow: none;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}
