.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section-title {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 8px;
}
