<mat-toolbar [ngClass]="variant">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon
      svgIcon="mdlv-logo"
      aria-label="MD LED Visual logo button routing to homepage"
    ></mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-button [routerLink]="['/']" fragment="o-mnie">O mnie</button>
  <button mat-button [routerLink]="['galeria']">Galeria</button>
  <button mat-button [routerLink]="['wycena']">Wycena</button>
  <button mat-button [routerLink]="['/']" fragment="kontakt">Kontakt</button>
</mat-toolbar>
