<mat-toolbar [ngClass]="variant">
  @if (isDefault) {
  <mdlv-home-button></mdlv-home-button>
  <span class="spacer"></span>
  <ng-container *ngTemplateOutlet="buttonGroupTemplate"></ng-container>
  } @else {
  <div class="transparent-navbar-container">
    <mdlv-home-button></mdlv-home-button>
    <ng-container *ngTemplateOutlet="buttonGroupTemplate"></ng-container>
  </div>
  }
</mat-toolbar>

<ng-template #buttonGroupTemplate>
  <div class="button-group">
    <button mat-button [routerLink]="['galeria']">Galeria</button>
    <button mat-button [routerLink]="['wycena']">Wycena</button>
    <button mat-button [routerLink]="['kontakt']">Kontakt</button>
  </div>
</ng-template>
