<mat-grid-list cols="3">
  <mat-grid-tile
    [style.backgroundImage]="
      'url(assets/images/Przechwyďż˝_2024_01_18_15_40_37_754.png)'
    "
  ></mat-grid-tile>
  <mat-grid-tile>
    <div class="tile-content">
      Imprezy firmowe
      <button mat-flat-button [routerLink]="['/galeria']">Sprawdź</button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    [style.backgroundImage]="
      'url(assets/images/Przechwyďż˝_2024_10_12_22_24_03_460.png)'
    "
  ></mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-content">
      Imprezy prywatne
      <button mat-flat-button [routerLink]="['/galeria']">Sprawdź</button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    [style.backgroundImage]="
      'url(assets/images/Przechwyďż˝_2024_01_18_15_42_37_838.png)'
    "
  ></mat-grid-tile>
  <mat-grid-tile>
    <div class="tile-content">
      Prezentacje
      <button mat-flat-button [routerLink]="['/galeria']">Sprawdź</button>
    </div></mat-grid-tile
  >

  <mat-grid-tile
    [style.backgroundImage]="
      'url(assets/images/Przechwyďż˝_2024_10_12_22_22_23_645.png)'
    "
  ></mat-grid-tile>
  <mat-grid-tile>
    <div class="tile-content">
      Imprezy plenerowe
      <button mat-flat-button [routerLink]="['/galeria']">Sprawdź</button>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    [style.backgroundImage]="
      'url(assets/images/Przechwyďż˝_2024_10_12_22_24_43_514.png)'
    "
  ></mat-grid-tile>
</mat-grid-list>
