mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  min-height: 48px;
}

.contact-item mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
