<mat-card>
  <mat-card-content>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="form-container">
          <div class="title">KONTAKT</div>
          <div class="contact-item">Marcin Domaradzki</div>
          <div class="contact-item">
            <mat-icon fontIcon="call"></mat-icon> +48 795 641 741
          </div>
          <div class="contact-item">
            <mat-icon fontIcon="mail"></mat-icon> ledvisual&#64;o2.pl
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-container">
          <div class="title">NAPISZ DO NAS</div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>Imię i nazwisko</mat-label>
              <input matInput formControlName="name" />
              @if (contactForm.get('name')?.hasError('required')) {
              <mat-error>{{ requiredErrorMessage }}</mat-error
              >}
            </mat-form-field>

            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" />
              @if (contactForm.get('email')?.hasError('required')) {
              <mat-error>{{ requiredErrorMessage }}</mat-error
              >} @else if (contactForm.get('email')?.hasError('email')) {
              <mat-error> Wprowadź poprawny adres e-mail</mat-error>}
            </mat-form-field>

            <mat-form-field>
              <mat-label>Telefon</mat-label>
              <mat-icon matSuffix>phone</mat-icon>
              <input matInput formControlName="phone" />
              @if (contactForm.get('phone')?.hasError('required')) {
              <mat-error>{{ requiredErrorMessage }}</mat-error
              >}
            </mat-form-field>

            <mat-form-field>
              <mat-label>Wiadomość</mat-label>
              <textarea matInput formControlName="message"></textarea>
              @if (contactForm.get('message')?.hasError('required')) {
              <mat-error>{{ requiredErrorMessage }}</mat-error
              >}
            </mat-form-field>

            <button
              mat-flat-button
              type="submit"
              [disabled]="!contactForm.valid"
            >
              Wyślij
            </button>
          </form>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
