.gallery-container {
  margin-bottom: 96px;
  padding-left: 8px;
  padding-right: 8px;
  &.handset {
    margin-bottom: 80px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
}
