@use "@angular/material" as mat;
@use "sass:color";

.overlay-card {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;

  @include mat.card-overrides(
    (
      outlined-container-color: color.mix(#e5deff, transparent, 80%),
      outlined-container-shape: 30px,
    )
  );
}

mat-card-header {
  margin-bottom: 0.7rem;
}

mat-card-title {
  font-weight: 500;
}

mat-card-content {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
