@use "src/styles/layouts.scss" as layouts;

.content-container {
  max-width: layouts.$content-width;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.break {
  height: 32px;
  background: rgb(252, 245, 37);
  background: linear-gradient(
    90deg,
    rgba(252, 245, 37, 1) 0%,
    rgba(252, 246, 92, 1) 35%,
    rgba(121, 243, 250, 1) 100%
  );
}

.purple-container {
  padding-top: 56px;
  padding-bottom: 56px;
  color: var(--mat-sys-on-primary);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("/assets/images/background_2.jpg");
  background-size: cover;
  background-position: center;
}
