<mdlv-background-slideshow></mdlv-background-slideshow>
<div class="content-container">
  <section id="o-mnie">
    <h2>O mnie</h2>
    <mdlv-about></mdlv-about>
    <button mat-flat-button [routerLink]="['/galeria']">Więcej zdjęć</button>
    <button mat-flat-button [routerLink]="['/wycena']">Sprawdź wycenę</button>
  </section>
</div>

<section id="oferta">
  <mdlv-offer-presentation></mdlv-offer-presentation>
</section>

<div class="content-container">
  <section id="kontakt">
    <h2>Kontakt</h2>
    <mdlv-contact></mdlv-contact>
  </section>
</div>
