.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.break {
  padding-top: 32px;
  background-color: #fcf65c;
}

.purple-container {
  color: white;
  background-color: #14002d;
}
