/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "swiper/css/bundle"; // TODO: check if this could be reduced
@use "photoswipe/dist/photoswipe.css";
@use "styles/colors" as colors;

html {
  @include mat.theme(
    (
      color: mat.$cyan-palette,
    )
  );
}

body {
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
}

/* Material Toolbar variants */
mat-toolbar {
  top: 0;
  z-index: 100;

  /* Standard toolbar */
  &.default {
    @include mat.toolbar-overrides(
      (
        container-background-color: var(--mat-sys-primary),
        container-text-color: var(--mat-sys-on-primary),
      )
    );
    & {
      position: sticky;
    }
  }

  /* Homepage toolbar */
  &.transparent {
    @include mat.toolbar-overrides(
      (
        container-background-color: transparent,
        container-text-color: colors.$black,
      )
    );
    & {
      position: fixed;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto;
      left: 0;
      right: 0;
      &.handset {
        justify-content: center;
      }
    }
  }
}

.slideshow-pagination .swiper-pagination-bullet {
  background-color: var(--mat-sys-on-primary);
}

.slideshow-pagination .swiper-pagination-bullet-active {
  background-color: var(--mat-sys-on-primary);
}
