/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "swiper/css/bundle"; // TODO: check if this could be reduced

html {
  @include mat.theme(
    (
      color: mat.$cyan-palette,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
}

.slideshow-pagination .swiper-pagination-bullet {
  background-color: var(--mat-sys-on-primary);
}

.slideshow-pagination .swiper-pagination-bullet-active {
  background-color: var(--mat-sys-on-primary);
}
