<div class="features-wrapper">
  <div class="features-container" [class.handset]="isHandset">
    @for (feature of features; track feature) {
    <mat-card
      appearance="outlined"
      class="features-card"
      [class.handset]="isHandset"
    >
      <mat-card-header class="header" [class.handset]="isHandset">
        <img class="icon" [class.handset]="isHandset" [src]="feature.icon" />
        <span>{{ feature.title }}</span>
      </mat-card-header>
      <mat-card-content class="content">
        {{ feature.description }}
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
