@use "@angular/material" as mat;
@use "src/styles/layouts.scss" as layouts;

.features-wrapper {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--mat-sys-surface-bright) 10%,
    transparent 10%
  );
}

.features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: layouts.$content-width;
  margin: 0 auto;
  padding-bottom: 100px;
}

.features-card {
  display: flex;
  align-items: center;
  width: 300px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;

  @include mat.card-overrides(
    (
      outlined-outline-width: 1,
    )
  );
}

.features-card .icon {
  width: 40px;
  height: 40px;
}

.features-card .header {
  color: var(--mat-sys-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  padding-bottom: 25px;
}

.features-card .content {
  padding-left: 30px;
  padding-right: 30px;
}
